include requirements.txt
recursive-include cave/html/web_files *.css *.js *.png *.json *.svg *.eot *.ttf *.woff*
recursive-include cave/plot *.ts
include cave/plot/mpl_style
include cave/utils/options/*.ini