Cython
numpy
pandas
matplotlib==2.0.2
sphinx
sphinx_rtd_theme
mpld3
git+https://github.com/automl/fanova@b5d69a7db458f61b3a31e8fbb66edef6d8fce35f
-e git+https://github.com/automl/SMAC3.git@6a8d1f137b2c05d10220feb073ac9f4cd2ce25b3#egg=smac
-e git+https://github.com/automl/ParameterImportance.git@development#egg=pimp
scipy
sklearn
orange3
git+https://github.com/mlindauer/AutoFolio
git+https://github.com/mlindauer/ASlibScenario
git+https://bitbucket.org/aadfreiburg/plotting_scripts.git
